body{
    margin: 0;
    padding: 0;
  }
  .time{
    font-size: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Timer{
    text-align: center;
  }
  .words{
    display: flex;
    justify-content: center;
    
  }
  .words p{
    margin: 0px 26px;
    font-size: 13px;
  }